*~
/*-[0-9][0-9].xml
archive.json
draft-meunier-http-message-signatures-directory.xml
draft-meunier-signature-agent-rep.xml
draft-meunier-web-bot-auth-architecture.xml
Gemfile.lock
/.gems/
*.html
/.idea/
/lib
/.*.mk
/node_modules/
package-lock.json
*.pdf
*.redxml
/.refcache
report.xml
*.swp
.tags
*.txt
*.upload
/.venv/
/versioned/
/.vscode/
!requirements.txt
